@use "global"as *;

.blog-article__inner.inner {
    max-width: rem(1170);
    width: 100%;
}

.blog-article__mainimg {
    margin-bottom: rem(50);
}

.blog-article__mainimg img {
    aspect-ratio: 1120 / 640;
    object-fit: cover;
    width: 100%;
}

.blog-article__wrapper {
    max-width: rem(890);
    width: 100%;
    margin: 0 auto;
}

.blog-article__titlebox {
    background-color: #fff;
    border: 2px solid #d9d9d9;
    padding: rem(10) rem(10) rem(15);
    margin-bottom: rem(45);

    @include mq("md") {
        padding: rem(20) rem(20) rem(30);
    }
}

.blog-article__title {
    color: $black;
    font-size: rem(21);
    line-height: 1.42;

    @include mq("md") {
        font-size: rem(36);
    }
}

.blog-article__info {
    color: $black;
    display: flex;
    justify-content: space-between;
    margin: rem(14) 0 rem(14) rem(8);

    @include mq("md") {
        margin-bottom: rem(22);
    }
}

.blog-article__author {
    font-size: rem(15);
    line-height: 1;
    letter-spacing: -0.05em;
    text-align: left;

    @include mq("md") {
        font-size: rem(18);
    }
}

.blog-article__author::before {
    content: '';
    background-image: url(/images/common/author-icon.png);
    background-size: cover;
    width: rem(12);
    height: rem(18);
    position: absolute;
    top: 55%;
    left: 0;
}

.blog-article__data {
    font-size: rem(15);
    line-height: 1.21428571;
    text-align: right;

    @include mq("md") {
        font-size: rem(18);
    }
}

.blog-article__tag {
    // display: inline-block;
    color: $blue;
    font-size: rem(14);
    line-height: 1;
    text-align: center;
    background-color: #fff;
    border: 1px solid $blue;
    border-radius: rem(50);
    padding: rem(3) rem(14);
    margin-left: rem(8);

    @include mq("md") {
        font-size: rem(18);
    }
}

// .blog-article__textbox {}

.blog-article__text {
    color: $black;
    font-size: rem(18);
    font-weight: $normal;
    line-height: 2;
}

.blog-article__img {
    margin-top: rem(30);
}

.blog-article__sns.shareBox {
    padding: rem(10);
    position: relative;
    border-radius: rem(10);
    background: #fff;
    box-shadow: 0 0 rem(5) 0 rgb(63 63 63 / 20%);
    max-width: rem(600);
    width: 100%;
    margin: rem(50) auto;

    @include mq("md") {
        display: flex;
        align-items: center;
        padding: rem(10) rem(20);
        max-width: rem(890);
        width: 100%;
    }
}

.blog-article__snslist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(8);
    width: 100%;
    height: rem(30);

    @include mq("md") {
        gap: rem(12);
    }
}

.blog-article__snslist img {
    width: 100%;
    max-height: rem(30);
    object-fit: cover;
}

.blog-article__snstext {
    display: block;
    width: 100%;
    color: $blue;
    font-size: rem(20);
    line-height: 1;
    margin: 0 auto rem(10);
    text-align: center;

    @include mq("md") {
        display: inline-block;
        text-align: left;
        width: rem(100);
        margin-right: auto;
        margin-bottom: 0;
    }
}

.blog-author__block {
    max-width: rem(890);
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: rem(65);
    padding: rem(30) rem(20) rem(21) rem(30);
    border-radius: rem(10);
    border: 2px solid $orange;
}

.blog-author__wrap {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.blog-author__img {
    width: rem(130);
    height: rem(130);
}

.blog-author__img img {
    aspect-ratio: 130 / 130;
    object-fit: cover;
    border-radius: 50%;
}

.blog-author__namebox {
    display: flex;
}

.blog-author__name {
    margin: rem(3) 0 0 rem(10);
    display: block;
    color: $black;
    font-size: rem(24);
}

.blog-author__name span {
    display: block;
    color: $orange;
    font-size: rem(18);
    margin-bottom: rem(20);
}

.blog-author__description {
    color: $black;
    font-size: rem(18);
    line-height: 1.5;
    font-weight: $normal;
}

.blog-author__linksp {
    display: block;
    max-width: rem(350);
    width: 100%;
    text-align: center;
    margin: rem(10) auto 0;

    @include mq("md") {
        display: none;
    }
}

.blog-author__linkpc {
    display: none;

    @include mq("md") {
        display: block;
        max-width: rem(276);
        width: 100%;
        margin: 0 auto;
    }
}