@use "global"as *;

.breadcrumb__inner {
    margin-bottom: rem(25);

    @include mq("md") {
        margin-bottom: rem(40);
    }
}

.breadcrumb__items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-weight: $normal;


}

.breadcrumb__item {
    color: $black;
    font-size: rem(10);

    @include mq("md") {
        font-size: rem(16);
    }
}

.breadcrumb__item--current {
    color: $orange;
}

.breadcrumb__item:not(:last-of-type)::after {
    content: ">";
    margin: 0 .6em;
    /* 記号の左右の余白 */
    color: $black;
    /* 記号の色 */
}