@use "global"as *;

.restaurant-head__wrap {
    background-image: url(../images/subpage/restaurant-title.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: rem(125);
    margin-top: rem(45);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(10);

    @include mq("md") {
        width: 100%;
        height: rem(250);
        margin-top: 0;
        margin-bottom: rem(18);
    }
}

.restaurant-head__text {
    position: relative;
    color: $white;
    text-align: center;
}

.restaurant-head__text::before {
    content: "あじさい";
    display: block;
    font-size: rem(9);
    font-weight: $normal;
    position: absolute;
    top: rem(-16);
    right: rem(3);

    @include mq("md") {
        font-size: rem(18);
        position: absolute;
        top: rem(-30);
        right: rem(6);
    }
}

.restaurant__title {
    font-size: rem(22);
    line-height: 1;

    @include mq("md") {
        font-size: rem(40);
    }
}

.restaurant__subtitle {
    display: inline-block;
    font-size: rem(11);
    line-height: 1;

    @include mq("md") {
        font-size: rem(18);
        margin-top: rem(17);
    }
}

.restaurant__text {
    text-align: center;
    margin-bottom: rem(35);

    @include mq("md") {
        margin-bottom: rem(72);
    }
}

.restaurant__description {
    color: $black;
    font-size: rem(14);
    font-weight: $normal;
    line-height: 1.9285;
    text-align: center;

    @include mq("md") {
        font-size: rem(20);
        line-height: 2.15;
    }
}

.restaurant__links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: rem(40);

    @include mq("md") {
        margin-bottom: rem(50);

    }
}

.restaurant__link {
    position: relative;
}

.restaurant__link a {
    display: inline-block;
    color: #0060bf;
    font-size: rem(13);
    margin: 0 rem(12);
    text-decoration: underline;
    // border-bottom: 1px solid #0060bf;

    @include mq("md") {
        font-size: rem(18);
    }
}

.restaurant__link a:hover {
    text-decoration: none;
    opacity: 1;

}

.restaurant__link::before {
    content: "";
    display: inline-block;
    width: rem(1);
    height: rem(13);
    background-color: $black;

    @include mq("md") {
        height: rem(18);
    }
}

.restaurant__link:last-child::after {
    content: "";
    display: inline-block;
    width: rem(1);
    height: rem(13);
    background-color: $black;

    @include mq("md") {
        height: rem(18);
    }
}

.restaurant__link a::after {
    /* くの字の表示設定 */
    content: "";
    margin: auto;
    position: absolute;
    bottom: rem(-12);
    left: 48%;
    width: 8px;
    height: 8px;
    border-top: 1px solid $black;
    border-right: 1px solid $black;
    transform: rotate(135deg);
}


.restaurant-body__title {
    position: relative;
    color: $black;
    font-size: rem(20);
    background-color: #f7f7f7;
    padding: rem(12) rem(25) rem(12);
    margin-bottom: rem(30);

    @include mq("md") {
        font-size: rem(24);
        padding: rem(16) rem(25) rem(17);
    }
}

.restaurant-body__title::before {
    content: "";
    display: block;
    width: rem(7);
    height: 100%;
    background-color: #ff7f00;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.restaurant-time__wrap {
    margin-top: rem(80);
    margin-bottom: rem(80);
}

.restaurant-time__text {
    color: $black;
    font-size: rem(18);
    line-height: 1;
    margin-bottom: rem(15);

    @include mq("sm") {
        font-size: rem(24);
        margin-bottom: rem(30);
    }
}

.restaurant-time__text span {
    color: $black;
    font-size: rem(11);
    font-weight: $normal;
    line-height: 1;

    @include mq("sm") {
        font-size: rem(18);
    }

}

.restaurant-time__link {
    position: relative;
    display: inline-block;
    color: #0060bf;
    font-size: rem(18);
    font-weight: $normal;
    line-height: 1;
    padding: rem(2);
    text-decoration: underline;
    // border-bottom: 1px solid #0060bf;
    margin-left: rem(24);
}

.restaurant-time__link:hover {
    text-decoration: none;
    opacity: 1;
}


.restaurant-time__link::before {
    /* くの字の表示設定 */
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    width: 8px;
    height: 8px;
    border-top: 1px solid $black;
    border-right: 1px solid $black;
    transform: rotate(135deg);

    @include mq("md") {
        width: 10px;
        height: 10px;
    }
}

.restaurant-time__annotation {
    color: $black;
    font-size: rem(14);
    font-weight: $normal;
    line-height: 1;
    margin-bottom: rem(15);

    @include mq("md") {
        margin-bottom: rem(30);
    }
}

.restaurant-menu__wrap {
    margin-bottom: rem(60);
}

.restaurant-menu__description {
    color: $black;
    font-size: rem(14);
    font-weight: $normal;
    line-height: 1.78571429;

    @include mq("md") {
        font-size: rem(17);
        line-height: 2.11764706;
    }
}

.restaurant-banner__warp {
    background-image: url(../images/subpage/restaurant-menu_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: rem(300);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(25);

    @include mq("md") {
        width: 100%;
        height: rem(435);
        margin-top: rem(50);
    }
}

.restaurant-banner__title {
    color: $orange;
    font-size: rem(28);
    line-height: 1.5;
    text-align: center;

    @include mq("md") {
        font-size: rem(44);
    }
}

.restaurant-banner__subtitle {
    color: $black;
    font-size: rem(21);
    text-align: center;

    @include mq("md") {
        font-size: rem(32);
    }
}

.restaurant-banner__description {
    color: $black;
    font-size: rem(14);
    text-align: center;
    margin-top: rem(30);

    @include mq("md") {
        font-size: rem(18);
        margin-top: rem(45);
    }
}

.restaurant-banner__link {
    text-align: center;
    margin-top: rem(16);

    @include mq("md") {
        margin-top: rem(25);
    }
}

.restaurant-banner__btn {
    position: relative;
    display: inline-block;
    color: $white;
    font-size: rem(16);
    padding: rem(12) rem(32);
    line-height: 1;
    background-color: $orange;

    @include mq("md") {
        font-size: rem(24);
        padding: rem(19) rem(50) rem(18);
    }
}

.restaurant-banner__btn::before {
    content: '';
    display: block;
    background-image: url(../images/common/link-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: rem(10);
    top: 50%;
    transform: translateY(-50%);
    width: rem(14);
    height: rem(16);

    @include mq("md") {
        right: rem(20);
        width: rem(16);
        height: rem(18);
    }
}


.restaurant-banner__btn::after {
    background: $white;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid $orange;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}

.restaurant-banner__btn:hover {
    color: $orange;
}

.restaurant-banner__btn:hover:after {
    @include mq("md") {
        transform: scale(1, 1);
    }
}


.restaurant-banner__btn:hover::before {
    content: '';
    display: block;
    background-image: url(../images/common/link-icon_hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: rem(10);
    top: 50%;
    transform: translateY(-50%);
    width: rem(14);
    height: rem(16);

    @include mq("md") {
        right: rem(20);
        width: rem(16);
        height: rem(18);
    }
}


.restaurant-menu__items {
    width: 100%;
    margin-top: rem(25);
    // max-height: rem(360);
    // height: 100%;

    @include mq("md") {
        display: flex;
        gap: rem(25);
        margin-top: rem(50);
    }
}

.restaurant-menu__item {
    margin: 0 rem(10);

    @include mq("md") {
        margin: 0;
    }
}

.restaurant-menu__item img {
    aspect-ratio: 255 / 368;
    width: 100%;
    // object-fit: cover;

    @include mq("md") {
        aspect-ratio: 300 / 424;
        width: 100%;
    }
}