@use "global"as *;

.slider5-wrap {
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include mq("md") {
        width: 100%;
        margin: 0 auto;
    }
}

.slider-5 .slick-slide {
    height: inherit;
    overflow: hidden;
}

.slider-5 .slick-slide img {
    display: block;
    aspect-ratio: 375/375;
    width: 100%;
    height: rem(375);
    object-fit: cover;
    object-position: center;

    @include mq("md") {
        aspect-ratio: 970/450;
        object-position: top;
        width: 100%;
        height: rem(450);
    }
}

.dots-5 .slick-dots {
    text-align: center;
}

.dots-5 .slick-dots li {
    display: inline-block;
    width: rem(32);
    height: rem(3);
    margin: rem(4);
    background: #fff;
    cursor: pointer;

    @include mq("md") {
        width: rem(46);
        height: rem(4);
        margin: rem(6);
    }
}

.dots-5 .slick-dots button {
    display: block;
    width: 0%;
    height: rem(4);
    margin: 0;
    font-size: 0;
    padding: 0;
    border: 0;
    opacity: 0;
    outline: none;
    background: #ff7f00;
    cursor: pointer;
}

.dots-5 .slick-dots .slick-active button {
    background: #ff7f00;
    opacity: 1;
}

.slick-dots li button:before {
    display: none;
}

.dots-5 .slick-dots {
    position: absolute;
    bottom: rem(10);
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;

    @include mq("md") {
        bottom: rem(6);
    }
}