@use "global"as *;


.subpage-head__common {
    width: 100%;
    height: rem(125);
    margin-top: rem(45);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(10);
}

.subpage-head__text {
    color: $black;
    text-align: center;
}

.subpage__title {
    font-size: rem(24);
    line-height: 1;

    @include mq("md") {
        font-size: rem(44);
    }
}

.subpage__subtitle {
    display: inline-block;
    font-size: rem(12);
    line-height: 1;

    @include mq("md") {
        font-size: rem(21);
        margin-top: rem(17);
    }
}